html, body {
    margin: 0;
    padding: 0;
}

.btn-send {
    border: 1px solid #041b33;
    background-color: #041b33;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.app {
    border: 3px solid #031426;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(500px, calc(100vh - 100px));
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 5px solid lime; */
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.profile img {
    width: inherit;
}

.main-left {
    background: #031426;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-auto-flow: row;
}

.header-left {
    /* border: 5px solid salmon; */
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    color: white;
    margin-top: 5px;
 font-size: 25px;
}

.header-left .glyphicon {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0px 5px;
    /* border: 5px solid blue; */
}

.hamburger-btn, .search-btn {
    place-self: center start;
}

.option-btn {
    place-self: center end;
}

.chat-list {
    /* border: 5px solid cyan; */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
    width: 0px;
}

.friends {
    /* border: 5px solid yellow; */
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    cursor: pointer;
    transition: 0.2s linear;
}

.friends:hover {
    background: #041a31;
}

.friends-photo {
    place-self: center;
}

.friends-credent {
    /* border: 5px solid magenta; */
    padding: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    place-items: center start;
    overflow: hidden;
}

.friends-name, .friends-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-weight: 600;
    /* padding: 1px; */
}

.friends-name {
    color: white;
    place-self: end start;
    font-size: 1.25em;
    /* border: 5px solid magenta; */
}

.friends-message {
    /* border: 5px solid blanchedalmond; */
    color: #777;
    font-size: 0.85em;
    place-self: start;
}

.notif-badge {
    place-self: center;
    background: white;
    color: #555;
}

.self-info {
    /* border: 5px solid magenta; */
    padding: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
    background: #041b33;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.4);
}

.your-photo {
    /* border: 5px solid lime; */
    height: 50px;
    width: 50px;
    place-content: center start;
    place-self: center end;
}

.your-name {
    /* border: 5px solid bisque; */
    color: white;
    margin-left: 20px;
    place-self: center start;
}

.self-info .glyphicon {
    /* border: 5px solid skyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    color: white;
    place-content: center end;
    place-self: center;
    cursor: pointer;
    transition: 0.2s linear;
}

.self-info .glyphicon:hover {
    transform: rotate(30deg);
}

/* END OF LEFT SECTION */
/* ################################################## */
/* START OF RIGHT SECTION */

.main-right {
    background: #dedede;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 6fr 1fr;
}

.header-right {
    /* border: 5px solid greenyellow; */
    padding: 5px;
    background: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 6fr 2fr;
    place-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.header-img {
    place-content: center start;
    place-self: center end;
}

.name {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friend-name {
    /* border: 5px solid violet; */
    place-self: center start;
    margin-left: 20px;
    color: #485373;
}

.some-btn {
    /* border: 5px solid maroon; */
    font-size: 1.5em;
    place-items: center end;
}

.some-btn .glyphicon {
    margin: 0px 10px;
    cursor: pointer;
}

.chat-area {
    /* border: 5px solid lightseagreen; */
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-area::-webkit-scrollbar {
    width: 0;
}

.friends-chat {
    /* border: 3px solid beige; */
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 9fr;
}

.friends-chat-photo {
    /* border: 3px solid orchid; */
    place-self: start end;
    margin: 0px 5px;
}

.friends-chat-content {
    /* border: 3px solid red; */
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr min-content min-content;
    place-items: start;
}

.friends-chat-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #485373;
    font-size: 1em;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
}


.friends-chat-balloon{
    /* border: 3px solid navy; */
    max-width: 90%;
    padding: 10px 20px;
    margin: 0;
    min-width: min-content;
    border-radius: 0px 20px 20px 20px; /* TL-TR-BR-BL*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #485373;
    background: white;
    font-size: 0.9em;
}

.chat-datetime {
    /* border: 3px solid yellow; */
    margin: 3px 10px;
    font-size: 0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aaa;
}

.your-chat {
    /* border: 3px solid chocolate; */
    display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    grid-auto-flow: row;
    grid-template-rows: min-content min-content;
    place-items: start end;
}

.your-chat-balloon {
    /* border: 3px solid blueviolet; */
    max-width: 80%;
    padding: 10px 20px;
    margin: 0;
    min-width: min-content;
    border-radius: 20px 20px 0px 20px; /* TL-TR-BR-BL*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: darkslateblue;
    font-size: 0.9em;
}

.your-chat-datetime .glyphicon {
    margin-right: 5px;
    color: green;
}

.typing-area {
    /* border: 5px solid goldenrod; */
    background: white;
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.type-area {
    /* border: 5px solid blueviolet; */
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    background: #dfe6e9;
    padding: 10px 20px;
    color: #333;
    font-size: 1.1em;
}

input::placeholder {
    color: #777;
}

.typing-area .glyphicon, .attach-btn {
    color: #555;
    cursor: pointer;
    place-self: center;
    transition: .2s linear;
}

.typing-area .glyphicon:hover, .attach-btn span:hover {
    color: darkslateblue;
}

.attach-btn {
    /* border: 5px solid coral; */
    font-size: 1.25em;
}

.attach-btn span {
    margin: 0px 10px;
}

.send-btn {
    /* border: 5px solid darkcyan; */
    font-size: 2.25em;
}

.creator {
    text-align: center;
    color: #777;
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none !important;
}
